<!DOCTYPE html>
<html>
  <head>
    <title>Plantjes</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="app"><%- react %></div>
    <script src="bower_components.js"></script>
    <script src="build.js"></script>
  </body>
</html>
