<!DOCTYPE html>
<html>
  <head>
    <title>Plantjes</title>
  </head>
  <body>
    <h1>Plantjes</h1>
    <h2>Graduation Project, Communication &amp; Multimedia Design, Amsterdam University of Applied Sciences</h2>
    <div id="app"><%- react %></div>
    <script src="build.js"></script>
  </body>
</html>
