html {
  font-size: 10px;
}

body {
  background-color: $white;

  font-family: OpenSans, sans-serif;
  font-weight: $normal;
  font-size: 1.6rem;
  color: $black;
}

strong {
  font-weight: $bold;
}
