html {
  font-size: 10px;
}

body {
  background-color: $white;

  font-family: OpenSans, sans-serif;
  font-weight: $normal;
  font-size: 1.6rem;
  color: $black;
}

strong {
  font-weight: $bold;
}

.plant-info {
  padding: 5%;

  img {
    width: 100%;
  }
}

.growth-bar {
  margin: 1.5rem 0 2.5rem;

  h1 {
    margin-bottom: .5rem;

    > span:nth-of-type(2) {
      float: right;
    }
  }

  section {
    width: 100%;
    height: 3rem;

    position: relative;

    background: $gray;
  }

  div {
    @include transition(width .5s ease-in-out);
    height: 100%;

    background: $green;
  }

  img {
    width: auto;
    height: 2.5rem;

    position: absolute;
    left: .5rem;

    margin-top: .5rem;

    &:nth-of-type(2) {
      right: .5rem;
      left: auto;
    }
  }
}

.sensor-data {
  padding: 0 5% 5%;

  h1 {
    margin-bottom: 2.5%;

    border-bottom: 1px solid;

    font-weight: $bold;
    text-transform: capitalize;
  }

  ul {
    margin-bottom: 2.5%;

    border-bottom: 1px solid;
  }
}
