header {
  position: relative;

  background-color: $green;

  h1 {
    padding: 2rem;

    font-size: 2rem;
    font-weight: $bold;
    text-transform: capitalize;
  }

  img {
    width: 4rem;

    position: absolute;
    right: 1rem;
    top: 1rem;

    &.back {
      right: auto;
      left: 1rem;
    }
  }
}

.plant header h1 {
  padding-left: 6rem;
}
