// Colors
$white:  #FAFAFA;
$black:  #212121;
$green: #66BB6A;
$light-green: #A5D6A7;
$dark-green: #1B5E20;
$gray: #BDBDBD;
$red: #EF5350;
$blue: #42A5F5;
$yellow: #FFEE58;

// Fonts
$light: 100;
$normal: 400;
$bold: 700;
