@font-face {
  font-family: 'OpenSans';
  font-weight: 100;
  src: url('assets/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 400;
  src: url('assets/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans';
  font-weight: 700;
  src: url('assets/OpenSans-Bold.ttf');
}
