@font-face {
  font-family: 'Titillium';
  font-weight: 100;
  src: url('/assets/TitilliumWeb-ExtraLight.ttf');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 400;
  src: url('/assets/TitilliumWeb-Light.ttf');
}

@font-face {
  font-family: 'Titillium';
  font-weight: 700;
  src: url('/assets/TitilliumWeb-SemiBold.ttf');
}
