@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url('/assets/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url('/assets/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url('/assets/Roboto-Medium.ttf');
}
