.plant-list {
  li {
    position: relative;

    padding: 2.5rem;
    padding-left: 7.5rem;

    border-bottom: 1px solid $dark-green;

    background-color: $light-green;

    text-transform: capitalize;

    a {
      text-decoration: none;
      color: $black;
    }

    span:nth-of-type(2) {
      float: right;
    }

    img {
      width: 5rem;

      position: absolute;
      top: 1rem;
      left: 1rem;
    }
  }
}
