.register,
.on-boarding {
  form {
    padding: 2rem;

    h1 {
      margin-bottom: 1rem;

      font-size: 1.8rem;
    }

    h3 {
      margin-top: 1.4rem;
    }

    p {
      margin-top: 1.4rem;
    }
  }
}
