// Colors
$white:         #FAFAFA;
$black:         #212121;

$grey:          #BDBDBD;
$light-grey:    #E0E0E0;

$green:         #66BB6A;
$light-green:   #81C784;
$dark-green:    #1B5E20;

$red:           #EF5350;
$light-red:     #E57373;
$dark-red:      #B71C1C;

$blue:          #42A5F5;
$light-blue:    #64B5F6;
$dark-blue:     #0D47A1;

$yellow:        #FFEE58;
$light-yellow:  #FFF176;
$dark-yellow:   #F57F17;

// Fonts
$light: 100;
$normal: 400;
$bold: 700;
